/*! Place your custom styles here */
.modal-container .modal-content{
    overflow:auto;
}

img.circle{
    border-radius:50%;
}

.bg-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4a90e2, #6354E5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4a90e2, #6354E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-wave {
    position: relative;
    background: url(/img/bg-wave.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.btn--alt {
    background: #3CE2B4;
    border-color: #00C891;
}

.btn--alt:hover {
    background: #64EBC6;
}