<section class="switchable feature-large unpad--bottom ">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6">
                <div class="switchable__text">
                    <h2>Rethink, Design, and Grow</h2>
                    <p class="lead">
                        Woolly Ally focuses on helping small to medium sized businesses rethink, design, and grow their online presence.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12 animated bounceInUp">
                <img class="unmarg--bottom box-shadow-wide" alt="Image" src="img/device-4.png" />
                <div class="bg--dark box-shadow-wide">
                    <img class="unmarg--bottom" alt="Image" src="img/hero-1.jpg" />
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>