<section class="cover height-80 text-center">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-9 col-lg-7">
                <h1>
                    Rethink, Design, and Grow
                </h1>
                <p class="lead">
                    Woolly Ally focuses on helping small to medium sized businesses rethink, design, and grow their online presence.
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                    <span class="btn__text">
                        View The Demos
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>