
<section class=" bg--dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cta cta-1 cta--horizontal boxed boxed--border text-center-xs">
                    <div class="col-md-3 col-md-offset-1 col-sm-4">
                        <h4>Let's get you started</h4>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <p class="lead">
                            Get in touch today for a free quote!
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-3 text-center">
                        <a class="btn btn--primary type--uppercase" href="#">
                            <span class="btn__text">
                                Contact
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<footer class="footer-7 text-center-xs  bg--dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> Medium Rare &mdash; All Rights Reserved</span>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list list-inline">
                    <li>
                        <a href="#">
                            <i class="socicon socicon-google icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>