<footer class="space--sm footer-1 text-center-xs bg--dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
               
                <img alt="Image" class="logo" src="img/logo-dark.png" />
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> Woolly Ally</span>
                <a class="type--fine-print" href="#">Privacy Policy</a>
                <a class="type--fine-print" href="#">Legal</a>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <!--<ul class="social-list list-inline list--hover">-->
                <!--    <li>-->
                <!--        <a href="#">-->
                <!--            <i class="socicon socicon-google icon icon--xs"></i>-->
                <!--        </a>-->
                <!--    </li>-->
                <!--    <li>-->
                <!--        <a href="#">-->
                <!--            <i class="socicon socicon-twitter icon icon--xs"></i>-->
                <!--        </a>-->
                <!--    </li>-->
                <!--    <li>-->
                <!--        <a href="#">-->
                <!--            <i class="socicon socicon-facebook icon icon--xs"></i>-->
                <!--        </a>-->
                <!--    </li>-->
                <!--    <li>-->
                <!--        <a href="#">-->
                <!--            <i class="socicon socicon-instagram icon icon--xs"></i>-->
                <!--        </a>-->
                <!--    </li>-->
                <!--</ul>-->
                <a href="#" class="btn type--uppercase modal-trigger" data-modal-index="1">
                    <span class="btn__text">
                        Contact Us
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!--end of container-->
</footer>