<section class="imagebg text-center unpad" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1" id="home">
    <!--<section class="imagebg parallax unpad" data-gradient-bg="#5f2c82,#49a09d,#F3A183,#5f2c82" id="home">-->
	<div class="background-image-holder" style="height: 100%;">
		<img alt="background" src="img/hero-1.jpg" />
	</div>
    <section class="text-center unpad--bottom">
        <div class="container">
            <div class="row">
            </div>
            <!--<div class="row">-->
            <!--    <div class="col-sm-8">-->
            <!--        <img alt="Image" class="unmarg--bottom animated fadeIn" src="img/headline-1.png" />-->
            <!--            <div class="typed-headline">-->
            <!--            	<span class="h3 inline-block">Woolly Ally specializes in</span>-->
            <!--            	<span class="h3 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="Web Design, Media Production, Web Hosting"></span>-->
            <!--            </div>-->
            <!--        <a class="btn btn--primary type--uppercase modal-trigger" href="#" data-modal-index="1">-->
            <!--            <span class="btn__text">-->
            <!--                Get a Free Quote!-->
            <!--            </span>-->
            <!--        </a>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
        <!--end of container-->
    </section>
    <section class="unpad--bottom">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 col-lg-6">
                    <h1>
                        Australia's Fastest Growing Construction Company
                    </h1>
                    <p class="lead">
                        Stack partner with ambitious property development firms to manage large-scale construction projects from initial concept through final-build.
                    </p>
                    <div class="typed-headline">
                    	<span class="h3 inline-block">Woolly Ally specializes in</span>
                    	<span class="h3 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="Web Design, Media Production, Web Hosting"></span>
                    </div>
                    
                    <a class="btn btn--primary type--uppercase modal-trigger" href="#" data-modal-index="1">
                        <span class="btn__text">
                            Get a Free Quote!
                        </span>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 animated bounceInUp">
                    <img class="unmarg--bottom box-shadow-wide" alt="Image" src="img/device-4.png" />
                    <div class="bg--dark box-shadow-wide">
                        <img class="unmarg--bottom" alt="Image" src="img/hero-1.jpg" />
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

</section>