<section class="imagebg unpad" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1" id="home">
    <!--<section class="imagebg parallax unpad" data-gradient-bg="#5f2c82,#49a09d,#F3A183,#5f2c82" id="home">-->
	<div class="background-image-holder" style="height: 100%;">
		<img alt="background" src="img/hero-1.jpg" />
	</div>
    <section class="unpad--bottom">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 col-lg-6">
                    <h1>
                        Woolly Ally designs websites to help businesses grow their brand
                    </h1>
                    <p class="lead">
                        Contact us to learn how we can help you retake control of your online presence
                    </p>
                    
                    <a class="btn btn--primary type--uppercase modal-trigger" href="#" data-modal-index="1">
                        <span class="btn__text">
                            Get a Free Quote!
                        </span>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 animated bounceInUp">
                    <img class="unmarg--bottom box-shadow-wide" alt="Image" src="img/device-4.png" />
                    <div class="bg--dark box-shadow-wide">
                        <img class="unmarg--bottom" alt="Image" src="img/hero-1.jpg" />
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

</section>