
<section class="cover text-center bg-wave bg--dark">
    <div class="bg-hero"></div>
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1>Woolly Ally designs websites to help businesses grow their brand</h1>
                <p class="lead">
                        Contact us to learn how we can help you retake control of your online presence
                </p>
                    
                    <a class="btn btn--primary btn--alt type--uppercase modal-trigger" href="#" data-modal-index="0">
                        <span class="btn__text">
                            Get a Free Quote!
                        </span>
                    </a>
            </div>
            <div class="col-md-12">
                <div class="triptych border--round">
                    <img alt="Image" src="img/woolly.jpg">
                    <img alt="Image" src="img/fusion.jpg">
                    <img alt="Image" src="img/gbc.jpg">
                </div>
            </div>
        </div>
        <!--end of row-->
    </section>
    <!--end of container-->
</section>