 <div class="nav-container">
		        <nav class="bar bar-toggle bar--transparent bar--absolute" data-scroll-class='90vh:pos-fixed'>
		            <div class="container">
		                <div class="row">
		                    <div class="col-md-1 col-sm-2 col-xs-3">
		                        <div class="bar__module">
		                            <a href="index.html">
		                                <img class="logo logo-dark" alt="logo" src="/img/logo-dark.png">
		                                <img class="logo logo-light" alt="logo" src="/img/logo-light.png">
		                            </a>
		                        </div>
		                    </div>
		                    <div class="col-md-11 col-sm-10 col-xs-9">
		                        <div class="bar__module">
		                            <div class="modal-instance pull-right">
		                                <a class="modal-trigger menu-toggle" href="#">
		                                    <i class="stack-interface stack-menu"></i>
		                                </a>
		                                <div class="modal-container menu-fullscreen">
		                                    <div class="modal-content" data-width="100%" data-height="100%">
		                                        <div class="pos-vertical-center pos-asbolute text-center">
		                                            <div class="heading-block">
		                                                <img alt="Image" src="img/logo-light.png" class="logo image--xs">
		                                                <!--<p class="lead">-->
		                                                <!--    A robust, multipurpose HTML template with<br class="hidden-xs hidden-sm"> over 250 interface blocks.-->
		                                                <!--</p>-->
		                                            </div>
		                                            <ul class="menu-vertical">
		                                                <li class="h4">
		                                                    <a class="inner-link modal-close" href="#home">Home</a>
		                                                </li>
		                                                <li class="h4">
		                                                    <a class="inner-link modal-close" href="#services">Services</a>
		                                                </li>
		                                                <li class="h4">
		                                                    <a class="inner-link modal-close" href="#about">About</a>
		                                                </li>
		                                                <li class="h4">
		                                                    <a class="inner-link modal-close" href="#clients">Clients</a>
		                                                </li>
		                                                <li class="h4">
		                                                    <a class="inner-link modal-close" href="#team">Team</a>
		                                                </li>
		                                            </ul>
		                                        </div>
		                                        <div class="pos-absolute pos-bottom text-center">
		                                            
                                                <span class="type--fine-print">&copy;
                                                    <span class="update-year"></span> Woolly Ally</span>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>    
		                </div>
		            </div>
		        </nav>
            <!--end bar-->
        </div>