
<section class="bg--secondary" id="clients">
    <!--<div class="container">-->
    <!--    <div class="row">-->
    <!--        <div class="col-sm-12">-->
    <!--            <h2>Case Studies</h2>-->
                
			 <!--   {% assign casestudies = site.casestudies | sort: "title" %}-->
    <!--            {% for casestudy in casestudies %}-->
                
    <!--                {% assign rowfinder = forloop.index | modulo: 3 %}-->
		  
		  
				<!--    {% if rowfinder == 1 %}-->
    <!--                  <div class="row">-->
    <!--                {% endif %}-->
    <!--                    <div class="col-sm-4">-->
    <!--                        <div class="feature feature-1">-->
    <!--                            <a href="{{casestudy.url}}">-->
    <!--                                <img alt="Image" src="{{casestudy.images[0].image_path}}" />-->
    <!--                            </a>-->
                                
    <!--                            <div class="feature__body boxed boxed--lg boxed--border">-->
    <!--                                <h3>{{casestudy.title}}</h3>-->
    <!--                                <p class="lead">-->
    <!--                                    {{casestudy.description}}-->
    <!--                                </p>-->
    <!--                                <a href="{{casestudy.url}}">-->
    <!--                                    Explore Project &rarr;-->
    <!--                                </a>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
				<!--    {% if rowfinder == 0 or forloop.length == forloop.index %}-->
    <!--                  </div> -->
    <!--                {% endif %}-->
    <!--            {% endfor %}-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <div class="masonry masonry--gapless">
        <div class="masonry__container masonry--active" style="position: relative; height: 790px;">
            <div class="masonry__item col-lg-4 col-md-6 col-12 filter-digital" data-masonry-filter="Digital" style="position: absolute; left: 0px; top: 0px;">
                <div class="project-thumb hover-element height-50">
                    <div class="hover-element__initial">
                        <div class="background-image-holder" style="background: url(&quot;img/ir.jpg&quot;); opacity: 1;">
                            <img alt="background" src="img/ir.jpg">
                        </div>
                    </div>
                    <div class="hover-element__reveal" data-overlay="9">
                        <div class="project-thumb__title">
                            <h5>Nike Active</h5>
                            <span>Digital Marketing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="masonry__item col-lg-8 col-md-6 col-12 filter-digital" data-masonry-filter="Digital" style="position: absolute; left: 401px; top: 0px;">
                <div class="project-thumb hover-element height-50">
                    <div class="hover-element__initial">
                        <div class="background-image-holder" style="background: url(&quot;img/fusion.jpg&quot;); opacity: 1;">
                            <img alt="background" src="img/fusion.jpg">
                        </div>
                    </div>
                    <div class="hover-element__reveal" data-overlay="9">
                        <div class="project-thumb__title">
                            <h5>Unvest Capital</h5>
                            <span>Brand Collateral</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="masonry__item col-lg-8 col-md-6 col-12 filter-digital" data-masonry-filter="Digital" style="position: absolute; left: 0px; top: 395px;">
                <div class="project-thumb hover-element height-50">
                        <div class="hover-element__initial">
                            <div class="background-image-holder" style="background: url(&quot;img/gbc.jpg&quot;); opacity: 1;">
                                <img alt="background" src="img/gbc.jpg">
                            </div>
                        </div>
                        <!--<div class="hover-element__reveal" data-overlay="9">-->
                        <!--    <div class="project-thumb__title">-->
                        <!--        <h5>Nuaca</h5>-->
                        <!--        <span>Digital Design &amp; Strategy</span>-->
                        <!--    </div>-->
                        <!--</div>-->
                </div>
            </div>
            <div class="masonry__item col-lg-4 col-md-6 col-12 filter-digital" data-masonry-filter="Digital" style="position: absolute; left: 401px; top: 395px;">
                <div class="project-thumb hover-element height-50">
                        <div class="hover-element__initial">
                            <div class="background-image-holder" style="background: url(&quot;img/woolly.jpg&quot;); opacity: 1;">
                                <img alt="background" src="img/woolly.jpg">
                            </div>
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="project-thumb__title">
                                <h5>Grove Interiors</h5>
                                <span>Digital Design &amp; Strategy</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>