
<section id="services" class="text-center bg--secondary" >
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2 class="editable">We are here for you</h2>
                <p class="lead editable">
                    Whether you’re looking for your first website or just need a fresh look we've got you covered.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="text-center bg--secondary" >
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Laptop-Phone color--primary"></i>
                    <h4>Web Design</h4>
                    <p>
                        Woolly Ally specializes in beautiful and user friendly websites. Our objective is to help you stand out and give your customers an intuitive way to interact with your business.
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Camera-2 color--primary"></i>
                    <h4>Photography</h4>
                    <p>
                        What separates Woolly Ally from anyone else is our dedication to custom photography. Don't just tell people about your business, show them! 
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Video-Tripod color--primary"></i>
                    <h4>Videography</h4>
                    <p>
                        More and more people are watching video online than ever, don't miss out. Woolly Ally specializes in marketing campaigns and informative bio clips. 
                    </p>
                </div>
                <!--end feature-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Data-Center color--primary"></i>
                    <h4>Hosting</h4>
                    <p>
                        Never hosted a website or just tired of managing security updates? Woolly Ally offers a 100% hands free approach to web hosting so you can focus on what makes your business special.
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Mail-2 color--primary"></i>
                    <h4>Email</h4>
                    <p>
                        Looking to ditch that @gmail.com email address? Ensure you are promoting your brand with every email by using an @yourdomain.com email address.
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class=" boxed boxed--border boxed--lg">
                    <i class="icon icon--lg icon-Laughing color--primary"></i>
                    <h4>Support</h4>
                    <p>
                        We are here for you! Feel free to contact us with questions or tweaks even after your project is completed.
                    </p>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>