
<section id="services" class="text-center bg--secondary" >
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2 class="editable">We are here for you</h2>
                <p class="lead editable">
                    Whether you’re looking for your first website or just need a fresh look weve got you covered.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="text-center bg--secondary" >
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Laptop-Phone color--primary"></i>
                    <h4>Web Design</h4>
                    <p>
                        Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Camera-2 color--primary"></i>
                    <h4>Photography</h4>
                    <p>
                        Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                    </p>
                </div>
                <!--end feature-->
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Video-Tripod color--primary"></i>
                    <h4>Videography</h4>
                    <p>
                        Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                    </p>
                </div>
                <!--end feature-->
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Data-Center color--primary"></i>
                    <h4>Hosting</h4>
                    <p>
                        Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class=" boxed boxed--lg boxed--border">
                    <i class="icon icon--lg icon-Mail-2 color--primary"></i>
                    <h4>Email</h4>
                    <p>
                        Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class=" boxed boxed--border boxed--lg">
                    <i class="icon icon--lg icon-Laughing color--primary"></i>
                    <h4>Support</h4>
                    <p>
                        Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                    </p>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>