

<section class="text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2>Perfect for Small &amp; Developers</h2>
                <p class="lead">
                    Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-6">
                    <i class="icon icon--lg icon-Laughing color--primary"></i>
                    <h4>Support</h4>
                    <p>
                        Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-6">
                    <i class="icon icon--lg icon-Laptop-Phone color--primary"></i>
                    <h4>Web Design</h4>
                    <p>
                        Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-6">
                    <i class="icon icon--lg icon-Camera-2 color--primary"></i>
                    <h4>Photography</h4>
                    <p>
                        Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                    </p>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>