
<section class="text-center bg--secondary" id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="feature feature-8">
                    <img alt="Image" src="img/avatar-round-1.png" />
                    <h5>Nick Stetina</h5>
                    <span>Founder &amp; CEO</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-8">
                    <img alt="Image" src="img/avatar-round-3.png" />
                    <h5>Keenan Karich</h5>
                    <span>Co-Founder &amp; CTO</span>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>