
<section class="text-center bg--secondary" id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="feature feature-8">
                    <img class="border--round" alt="Image" src="img/nick-headshot.jpg">
                    <h4>Nick</h4>
                    <span>Nick is dedicated to creating skillful video and photo content. As a music lover, he collects vinyl and moonlights as an audio engineer. He is a craft beer enthusiast with over 1,000 different kinds of beers catalogued.</span>
                </div>
            </div>
                                        
            <div class="col-sm-6">
                <div class="feature feature-8">
                    <img class="border--round" alt="Image" src="img/keenan-headshot.jpg">
                    <h4>Keenan</h4>
                    <span>Keenan is an experienced self taught web developer with a passion for building custom websites. Inspired by Jiro Dreams of Sushi, he recently explored the art of homemade sushi. As a basketball fanatic, Keenan plays in a few local leagues and enjoys going to Bulls games whenever he has the chance.</span>
                </div>
            </div>
        </div>
    </div>
</section>