
<section id="testimonials" class="bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="slider slider--inline-arrows" data-arrows="true">
                    <ul class="slides">
                        <li>
                            <div class="row">
                                <div class="testimonial">
                                    <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-6 text-center">
                                        <img class="testimonial__image circle" alt="Image" src="img/angie.jpg" />
                                    </div>
                                    <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                                        <span class="h3">&ldquo;We’ve been using Stack to prototype designs quickly and efficiently. Needless to say we’re hugely impressed by the style and value.&rdquo;
                                        </span>
                                        <h5>Maguerite Holland</h5>
                                        <span>Interface Designer &mdash; Yoke</span>
                                    </div>
                                </div>
                            </div>
                            <!--end of row-->
                        </li>
                        <li>
                            <div class="row">
                                <div class="testimonial">
                                    <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-6 text-center">
                                        <img class="testimonial__image circle" alt="Image" src="img/hillary.jpg" />
                                    </div>
                                    <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                                        <span class="h3">&ldquo;I've been using Medium Rare's templates for a couple of years now and Stack is without a doubt their best work yet. It's fast, performant and absolutely stunning.&rdquo;
                                        </span>
                                        <h5>Lucas Nguyen</h5>
                                        <span>Freelance Designer</span>
                                    </div>
                                </div>
                            </div>
                            <!--end of row-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>