
<div class="notification pos-right pos-bottom col-sm-4 col-md-3 " data-cookie="dismissed-welcome-notification" data-animation="from-bottom" data-notification-link="trigger" data-autoshow="10000">
    <div class="boxed boxed--border border--round box-shadow">
            <img class="image--sm border--round" alt="Image" src="img/keenan-headshot.jpg">
        <div class="text-block">
            <h5>Hey there, I'm Keenan!</h5>
            <p>
                Have a question? Send me an email <a href="#" class="modal-trigger" data-modal-index="1">
                    <span class="btn__text">
                        here
                    </span>
                </a>
            </p>
        </div>
    </div>
    <div class="notification-close-cross notification-close"></div>
</div>	