 <div class="main-container">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Nike Active</h1>
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                </li>
                                <li>Nike Active</li>
                            </ol>
                            <hr>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-2">
                            <div class="text-block">
                                <span class="h5">Client:</span>
                                <span>Nike Active</span>
                            </div>
                            <div class="text-block">
                                <span class="h5">Project Link:</span>
                                <span>
                                    <a href="#">http://projectsite.io/</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-md-offset-1">
                            <div class="text-block">
                                <span class="h5">Brief:</span>
                                <p>
                                    Co-working paradigm piverate innovate affordances user centered design personas pair programming Steve Jobs iterate earned media. Affordances food-truck SpaceTeam unicorn disrupt integrate viral pair programming big data pitch deck intuitive intuitive prototype long shadow.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-md-offset-1">
                            <div class="text-block">
                                <span class="h5">Services rendered:</span>
                                <ul class="bullets">
                                    <li>Branding</li>
                                    <li>Print Collateral</li>
                                    <li>Web Design</li>
                                    <li>Digital Strategy</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slider" data-paging="true" data-arrows="true">
                                <ul class="slides">
                                    <li>
                                        <img alt="Image" src="img/work-single-1.jpg" />
                                    </li>
                                    <li>
                                        <img alt="Image" src="img/work-single-3.jpg" />
                                    </li>
                                    <li>
                                        <img alt="Image" src="img/work-single-4.jpg" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-block">
                                <h4>Related Case Studies</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="project-thumb hover-element border--round hover--active">
                                <a href="#">
                                    <div class="hover-element__initial">
                                        <div class="background-image-holder">
                                            <img alt="background" src="img/work-2.jpg" />
                                        </div>
                                    </div>
                                    <div class="hover-element__reveal" data-scrim-top="5">
                                        <div class="project-thumb__title">
                                            <h4>Get Lost! Thailand</h4>
                                            <span>Print Marketing</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="col-sm-6">
                            <div class="project-thumb hover-element border--round hover--active">
                                <a href="#">
                                    <div class="hover-element__initial">
                                        <div class="background-image-holder">
                                            <img alt="background" src="img/work-3.jpg" />
                                        </div>
                                    </div>
                                    <div class="hover-element__reveal" data-scrim-top="5">
                                        <div class="project-thumb__title">
                                            <h4>M&amp;D Stairs Company</h4>
                                            <span>Branding &amp; Identity</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <div class="cta">
                                <h2>Ready to start your project?</h2>
                                <p class="lead">
                                    Each purchase of Stack comes with six months free support &mdash; and a lifetime of free content and bug-fix updates.
                                </p>
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Purchase on Envato
                                    </span>
                                    <span class="label">$19 USD</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="footer-3 text-center-xs space--xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" class="logo" src="img/logo-dark.png" />
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <span class="type--fine-print">Get Started</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="type--fine-print">help@stack.io</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="type--fine-print">
                                Supercharge your web workflow
                            </p>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Stack Inc.</span>
                            <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>